# Local
**/.cache/
**/.temp/
**/*.local.*
**/~local/

# Build
**/dist/

# macOS system files
_MACOSX/
.DS_Store
.DS_Store?

# Windows system files
ehthumbs.db
Thumbs.db

# macOS indexing & trash files
.Spotlight-V100
.Trashes

# Node
node_modules/
.pnpm-store/
.tsbuildinfo
